@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@800&display=swap');

form {
position: relative;
}

:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--clr-bg);
  font-weight: 800;
  font-family: 'Noto Sans Mono', monospace;
  color: var(--clr-neon);
}

.clock {
  font-size:  doesnt work
}

.neon-button {
  font-size: 4rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}




body {background-color: #1D1D1D;}
  body {
color: #ffffff; //font colour
    width: 100px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}



h1 {
  font-family: sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Noto Sans Mono', monospace;
}

h3 {
  font-family: 'Noto Sans Mono', monospace;
}

b {
  font-family: 'Noto Sans Mono', monospace;
}

p {
  font-family: 'Noto Sans Mono', monospace;
  position: relative;
}

pre {
font-size: 2.5vw;
}

.glitch {
  font-size: 190;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow:
    0.05em 0 0 rgba(255,0,0,0.75),
    -0.025em -.05em 0 rgba(0,255,0,0.75),
    0.025em 0.05em 0 rgba(0,0,255,0.75);

    animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 30%);
  transform: translate(-0.025em, -0.0125em);
  opacity: 0.8;
}
.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow:
      0.05em 0 0 rgba(255,0,0,0.75),
      -0.05em -0.025em 0 rgba(0,255,0,0.75),
      -0.025em 0.05em 0 rgba(0,0,255,0.75);
  }
  14% {
    text-shadow:
      0.05em 0 0 rgba(255,0,0,0.75),
      -0.05em -0.025em 0 rgba(0,255,0,0.75),
      -0.025em 0.05em 0 rgba(0,0,255,0.75);
  }
  15% {
    text-shadow:
      -0.05em -0.025em 0 rgba(255,0,0,0.75),
      0.025em 0.025em 0 rgba(0,255,0,0.75),
      -0.05em 0.05em 0 rgba(0,0,255,0.75);
  }
  49% {
    text-shadow:
      -0.05em -0.025em 0 rgba(255,0,0,0.75),
      0.025em 0.025em 0 rgba(0,255,0,0.75),
      -0.05em 0.05em 0 rgba(0,0,255,0.75);
  }
  50% {
    text-shadow:
      0.025em 0.05em 0 rgba(255,0,0,0.75),
      0.05em 0 0 rgba(0,255,0,0.75),
      0 -0.05em 0 rgba(0,0,255,0.75);
  }
  99% {
    text-shadow:
      0.025em 0.05em 0 rgba(255,0,0,0.75),
      0.05em 0 0 rgba(0,255,0,0.75),
      0 -0.05em 0 rgba(0,0,255,0.75);
  }
  100% {
    text-shadow:
      -0.025em 0 0 rgba(255,0,0,.75),
      -0.025em -0.025em 0 rgba(0,255,0,.75),
      -0.025em -0.05em 0 rgba(0,0,255,.75);
  }

}


